<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" v-model='inputName' @keyup.enter='addTodo' placeholder="What needs to be done?" autofocus>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!--
						li有两个类
							completed: 表示任务完成
							editing: 表示任务在修改
					-->
					<li 
					:class="{ completed: item.completed, editing: item.id === clickId }" 
					v-for='item in list' :key='item.id' 
					@dblclick='showInput(item.id)'
					>
						<div class="view">
							<input class="toggle" type="checkbox" v-model=' item.completed '>
							<label>{{ item.name }}</label>
							<button class="destroy" @click='delTodo(item.id)'></button>
						</div>
						<input class="edit" v-model='item.name' @keyup.enter='updatedTodo' >
					</li>
				</ul>
			</section>
		<!--
				如果list中有任务，就显示footer，否则隐藏footer
			 -->
			<footer class="footer" v-show='isShowFooter'>
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{ leftCount }}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" @click='clearTodo' v-show='isShowClear'>Clear completed</button>
			</footer>
		</section>
		
		<!-- Scripts here. Don't remove ↓ -->
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="./node_modules/vue/dist/vue.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
